html {
    background-color: #0f0f0f;
    color: white;

    font-family: Roboto, Arial, sans-serif;

    margin: 0 auto;

    min-width: 350px;
}

body {
    margin: 0;
}

button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
