html {
    background-color: #0f0f0f;
    color: white;

    font-family: Roboto, Arial, sans-serif;

    margin: 0 auto;

    min-width: 350px;
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(176, 174, 174);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}


body {
    margin: 0;
}

.header__root {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    
    gap: 12px;

    background-color: #0f0f0f;
    
    padding: 12px;
    padding-top: 10px;

    margin-bottom: 24px;
}

.gnb__root {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.gnb__left {
    display: flex;

    align-items: center;
}

.gnb__right {
    display: flex;

    align-items: center;
}

.gnb__icon__border {
    padding: 6px 8px;

    border-radius: 50%;
}

@media (max-width: 500px) {
    .icon__pc {
        display: none;
    }
}

.gnb__logo {
    position: relative;

    margin-left: 16px;
}

.gnb__logo__icon {
    height: 20px;
}

.gnb__logo_location_text {
    color: rgb(170, 170, 170);
    
    /* 이거 왜 13px 미만으로는 안 내려가지? */
    font-size: 13px;

    position: absolute;
    top: 0;
    right: -18px;
}

.gnb__icon {
    height: 24px;

    fill: white;
}

.gnb__right__user_profile {
    width: 32px;
    height: 32px;
    
    margin: 0 12px;

    border-radius: 16px;
}

.category__root {
    position: relative;
}

.category__left {
    display: flex;
    align-items: center;

    gap: 12px;
    
    margin: 0px 16px;
    
    overflow: auto;
    width: calc(100% - 100px);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category__left::-webkit-scrollbar {
    display: none;
}

.category__button {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 8px 12px;

    /* 텍스트가 일자로 표시되게.. */
    /* 어떻게 동작하는지 모르겠음 */
    white-space: nowrap;
}

.category__right {
    position: absolute;
    top: 0;
    right: 0;
}

.category__nav_button {
    color: white;
    padding: 12px 14px;

    border-radius: 50%;
}

.content__root {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    margin: 0px 24px;
}

@media (min-width: 700px) {
    .content__root {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {
    .content__root {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .content__root {
        grid-template-columns: repeat(4, 1fr);
    }
}

.video {
    display: flex;
    flex-direction: column;

    gap: 12px;

    cursor: pointer;
    border-radius: 6px;

    transition: background-color 0.2s;
}

/* TODO: options 버튼 클릭 시에는 options만 하이라이트 되게 */
.video:active {
    background-color: #212121;
}

.video__thumbnail {
    background-image: url(/data/thumb_static.webp);
    background-size: contain;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;

    cursor: pointer;

    transition: background-image 0.5s;
}

.video__thumbnail:hover {
    background-image: url(/data/thumb_video.webp);
}

.video__body {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.video__channel {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.video__text_root {
    display: flex;
    flex-direction: column;
}

.video__description {
    color: rgb(170, 170, 170);
    font-size: 14px;
}

.video__options {
    align-self: baseline;

    border-radius: 50%;
    transition: background-color 0.2s;
}

.video__options:active {
    background-color: #212121;
}
